* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #000;
}

.showCase {
	background: url('/static/bac 2.png') no-repeat center center/cover;
	width: 100%;
	height: 100vh;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}
h1 {
	font-size: 30px;
	font-weight: 700;
}
h2 {
	font-weight: 500;
}
h1,
h2,
p {
	margin: 20px 0;
}

p {
	color: #fff;
	font-weight: 100;
}

h1 a {
	color: #fff;
	font-size: 40px;
}
h2 a {
	color: #ee2346;
}
.container {
	width: 80%;
	margin: auto;
}
/* --------------------------------------------------------------NAV-------------------------------------------------------------- */
.logo {
	font-size: 40px;
	font-weight: 700;
	color: #ee2346;
}
.logo:hover {
	opacity: 0.9;
}

.nav-bar {
	display: flex;
	justify-content: center;
	justify-content: space-between;
	align-items: center;
	padding: 30px 0;
	/* border-bottom: #ee2346 1px; */
}

.main-nav li {
	display: inline-block;
	margin-right: 30px;
	color: #fff;
}

.main-nav a {
	color: #fff;
	font-size: 16px;
	font-weight: 400;
}

.main-nav a:hover {
	color: #66b4f6;
}

.nav-menu a {
	color: #fff;
}

.nav-menu a:hover {
	color: #66b4f6;
}

.login-btn {
	color: #fff;
	background: #ee2346;
	padding: 10px 25px;
	border-radius: 50px;
}

.login-btn:hover {
	opacity: 0.9;
	color: #fff;
}
