{% load static %}
<html>
	<head>
		<title>Django Blog</title>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
			integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ="
			crossorigin="anonymous"
		/>
		<!-- <link
			rel="stylesheet"
			href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
		/>
		<link
			rel="stylesheet"
			href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"
		/> -->
		<link rel="stylesheet" href="{% static 'blog.css' %}" />
	</head>
	<body>
		<div class="container">
			<nav>
				<div class="nav-bar">
					<a href="#">
						<p class="logo">
							<strong>UNFILTERED.</strong>
						</p>
					</a>

					<ul class="main-nav">
						<li><a href="#">About</a></li>
						<li><a href="#">Contact</a></li>
					</ul>

					<a class="login-btn" href="">LOGIN</a>

					<ul class="nav-menu">
						<li>
							<a href="#"><i class="fas fa-search"></i></a>
						</li>
					</ul>
				</div>
			</nav>

			<div>
				<h1><a href="/">Django Blog</a></h1>
			</div>
			{% for post in posts %}
			<div class="posts">
				<p>published: {{ post.published_date }}</p>
				<h2><a href="">{{ post.title }}</a></h2>
				<p>{{ post.text|linebreaksbr }}</p>
			</div>
			{% endfor %}
		</div>
	</body>
</html>
